<!DOCTYPE html>
<html lang="en">

<%- include('./.Partials/header.ejs') %>
<body>
    <%- include('./.Partials/nav.ejs') %> 
<section class="text-gray-600 body-font">
  <div class="container px-5 py-50 mx-auto">
    <div class="flex flex-wrap justify-between -mx-25 -mb-10 text-center ">
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">All Users</h2>
        <p class="leading-relaxed text-base">Admin can view all Users and there current status</p>
        <a href="/user/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a>
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Add Course</h2>
        <p class="leading-relaxed text-base">Admin can add new Course's data to database </p>
        <a href="/course/add" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">Add</button>
        </a>      
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Add Student</h2>
        <p class="leading-relaxed text-base">Admin can add new Student's data to database.</p>
        <a href="/student/add" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">Add</button>
        </a>
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Create Lecture</h2>
        <p class="leading-relaxed text-base">Faculty can start a new lecture attendance.</p>
        <a href="/lecture/create" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">Create</button>
        </a>      
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Train Model</h2>
        <p class="leading-relaxed text-base">Admin can Train Model Here.</p>
        <a href="/train" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">Train</button>
        </a>      
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">All Courses</h2>
        <p class="leading-relaxed text-base">Admin And Faculty Can View All Courses</p>
        <a href="/course/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a>       </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">All Students</h2>
        <p class="leading-relaxed text-base">Admin and Faculty can manage student details.</p>
        <a href="/student/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a>       
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">All Lectures</h2>
        <p class="leading-relaxed text-base">Admin and Faculty can manage lecture details.</p>
        <a href="/lecture/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a> 
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Overall Attednance</h2>
        <p class="leading-relaxed text-base">Admin and Faculty can view Student's Overall Attedance.</p>
        <a href="/attendance/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a> 
      </div>
      <div class="sm:w-1/5 mb-10 p-2 bg-white bg-opacity-50 rounded-lg m-2">
        <!-- <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1202x502">
        </div> -->
        <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">All Daily Attednance</h2>
        <p class="leading-relaxed text-base">Admin and Faculty can view Student's Daily Attedance.</p>
        <a href="/dailyattendance/all" >
          <button class="flex mx-auto mt-6 text-white bg-blue-500 border-0 py-2 px-5 focus:outline-none hover:bg-blue-600 rounded">View</button>
        </a> 
      </div>
    </div>
  </div>
</section>
    <%- include('./.Partials/footer.ejs') %> 
</body>
</html>