<div class="nav">
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/home">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg> -->
            <img src="/images/logo.jpg" class="rounded-full w-12 h-12"  alt="P C C O E logo">
            <span class="ml-3 text-xl">Pimpri Chinchwad College of Engineering</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="/home" class="mr-5 hover:text-gray-900">Home</a>
            <a class="mr-5 hover:text-gray-900" >Second Link</a>
            <a id="profile" class="mr-5 hover:text-gray-900" >My Profile</a>
            <a href="/about" id="about"  class="mr-5 hover:text-gray-900">About</a>
          </nav>
          <a id="signOut" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Sign Out
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="py-4">
          <div class="w-full border-t border-gray-600"></div>
        </div>
      </header>
</div>

<script>
  let id=localStorage.getItem("id");
  document.getElementById("profile").setAttribute("href","/user/"+id)
  document.getElementById("signOut").setAttribute("href","/user/signOut/"+id)
</script>